.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.formLabel {
}
.labelText {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
}
